<h1><%= t '.title' %></h1>

<%= simple_form_for @order do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% Component.groups.each do |group, group_val| %>
      <div class="form-group">
        <lable><strong><%= component_group_name group %></strong></lable>
        <% @components.where(group: group).each do |component| %>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="order[component_groups][<%= group_val %>][component_id]" value="<%= component.id %>"/>
              <%= component.name %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to t('helpers.back'), orders_path %>
