<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>

<p>
  <strong><%= Order.human_attribute_name :status %>:</strong>
  <%= order_status_name @order.status %>
</p>

<p>
  <strong><%= Order.human_attribute_name :components %>:</strong>
  <table class="table">
    <thead>
    <tr>
      <th><%= Component.human_attribute_name :name %></th>
      <th><%= Component.human_attribute_name :price %></th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <td><%= Order.human_attribute_name :total_sum %></td>
      <td><%= currency @order.total_sum %></td>
    </tr>
    </tfoot>

    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.presentation %></td>
          <td><%= currency order_item.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<hr>

<%= order_action_button @order %>